@font-face {
    font-family: RippleBold;
    src: url('../../Assets/Fonts/Ripple/Ripple-Bold.otf');
}

@font-face {
    font-family: RippleLight;
    src: url('../../Assets//Fonts/Ripple/Ripple-Thin.otf');
}

@font-face {
    font-family: RippleMed;
    src: url('../../Assets/Fonts/Ripple/Ripple-Medium.otf');
}



.hoa-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 80%;
    background: var(--gradient);
    text-align: left;
    /* border-radius: 2rem; */
    padding: 4rem;
}

.hoa-form h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hoa-form p {
    font-size: 1rem;
    letter-spacing: 0px;
    max-width: 30rem;
}

.hoa-pizzazz {
    color: rgb(135, 135, 135);
}
