@font-face {
    font-family: NormalMed;
    src: url('../../Assets/Fonts/Normal/Normal-Regular.ttf');
}

@font-face {
    font-family: NormalBold;
    src: url('../../Assets//Fonts/Normal/Normal-Bold.ttf');
}

@font-face {
    font-family: NormalLight;
    src: url('../../Assets/Fonts/Normal/Normal-Light.ttf');
}



.included_wrapper-l {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28rem;
    height: 32rem;;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: var(--cardshadow);
    padding: 3rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: white;

    
  
   
}

.included_wrapper-r {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28rem;
    height: 32rem;;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: var(--cardshadow);
    padding: 3rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: white;
  
}




.included-box-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: 100%;
    
 
}

.included-box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: 100%;
    
    
    
    
    
}

.included-box-1 h2 {
font-size: 2.2rem;
color:rgb(105, 105, 105);
margin-bottom: 1rem;
font-weight: 600;
text-align: center;
}

.included-box-1 p {
    color: black;
    letter-spacing: 0px;
    font-size: 1.1rem;
    color: rgb(58, 58, 58);
    margin-bottom: 10px;
    text-align: center;
}

.include-icon {
    height: 6rem;
    width: 6rem;
    
}
    @media(max-width: 1200px) {
        .included_wrapper-l {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 28rem;
            max-height: 32rem;
            width: 100%;
            flex-direction: column;
            flex-wrap: nowrap;
            box-shadow: var(--cardshadow);
            padding: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            border-radius: 1rem;
            background-color: white;
        
            
          
           
        }
        
        .included_wrapper-r {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 28rem;
            max-height: 32rem;
            width: 100%;
            flex-direction: column;
            flex-wrap: nowrap;
            box-shadow: var(--cardshadow);
            padding: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            border-radius: 1rem;
            background-color: white;
          
        }
    
        .included-box-1 h2 {
            font-size: 1.6rem;
            color:rgb(105, 105, 105);
            margin-bottom: 1rem;
            font-weight: 600;
            text-align: center;
            }
            
            .included-box-1 p {
                color: black;
                letter-spacing: 0px;
                font-size: 1.1rem;
                color: rgb(58, 58, 58);
                margin-bottom: 10px;
                text-align: center;
                font-family: NormalMed;
            }
            
            .include-icon {
                height: 4rem;
                width: 4rem;
                
                
            }
    }
