@font-face {
    font-family: RippleBold;
    src: url('../../Assets/Fonts/Ripple/Ripple-Bold.otf');
}

@font-face {
    font-family: RippleLight;
    src: url('../../Assets//Fonts/Ripple/Ripple-Thin.otf');
}

@font-face {
    font-family: RippleMed;
    src: url('../../Assets/Fonts/Ripple/Ripple-Medium.otf');
}

@font-face {
    font-family: NormalMed;
    src: url('../../Assets/Fonts/Normal//Normal-Regular.ttf');
}

@font-face {
    font-family: NormalBold;
    src: url('../../Assets/Fonts/Normal/Normal-Bold.ttf');
}




.areas-wrapper {
    width: 100%;
    min-height: 50vh;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.areas-wrapper h1 {
    color: rgb(255, 255, 255);
    font-size: 2.6rem;
    font-family: RippleMed;
    margin: 0px;
    margin-left: 3rem;
    margin-right: 3rem;
}

.areas-content {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;


}

.areas-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 2rem;
    padding-bottom: 4rem;
   

}

.areas-shadow {
    border-radius: 2rem;
    width: 48%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: var(--gradient);
    padding-bottom: 10px;
    padding-right: 10px
}

.areas-info li {
    font-size: 1.2rem;
    font-family: NormalMed;
    letter-spacing: opx;
   margin: 8px;
   color: rgb(107, 7, 206);
}

.areas-info p {
    margin-top: 2rem;
    color: black;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: NormalMed;
}

.areas-info ul {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 50rem;
}

.areas-map-wrapper {
    max-width: 30rem;
}

.areas-map-wrapper img {
   width: 100%;
   max-width: 30rem;
}

.areas-info h2 {
    margin-top: 2rem;
    font-family: RippleMed;
}

@media(max-width: 1200px) {
   
   .areas-info {
    justify-content: space-between;
   }
   .areas-info ul {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 7rem;
}
.areas-info li {
    font-size: 1rem;
    font-family: NormalBold;
    letter-spacing: opx;
   margin: 2px;
   color: rgb(107, 7, 206);
}

.areas-wrapper {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3rem;
}
}
