@font-face {
    font-family: RippleBold;
    src: url('../../Assets/Fonts/Ripple/Ripple-Bold.otf');
}

@font-face {
    font-family: RippleLight;
    src: url('../../Assets//Fonts/Ripple/Ripple-Thin.otf');
}

@font-face {
    font-family: RippleMed;
    src: url('../../Assets/Fonts/Ripple/Ripple-Medium.otf');
}






.pre-footer-wrapper {
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
}

.pre-footer-image {
    height: 16rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.pre-footer-image img {
    min-height: 100%;
    object-fit: cover;
    max-height: 100%;
}

.pre-footer-wrapper h2 {
    color: white;
    font-family: RippleBold;
    font-size: 2.4rem;
    margin-right: 4rem;
}


.pf-num-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 22rem;
    margin-right: 8rem;
    margin-left: 3rem;

}

.pf-num-wrapper p {
    font-size: 1rem;
    font-family: RippleMed;
    margin: 5px;
}

.pf-num-1 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 3rem; 
}

.pf-num-2 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 3rem; 
}

.pf-email {
    text-decoration: underline;
}

.pf-email-icon {
    color: white;
    height: 1.7rem;
    width: 1.7rem;
    margin-top: 1.8rem;
    
}