
@font-face {
    font-family: RippleBold;
    src: url('../../Assets/Fonts/Ripple/Ripple-Bold.otf');
}

@font-face {
    font-family: RippleLight;
    src: url('../../Assets//Fonts/Ripple/Ripple-Thin.otf');
}

@font-face {
    font-family: RippleMed;
    src: url('../../Assets/Fonts/Ripple/Ripple-Medium.otf');
}

@font-face {
    font-family: NormalMed;
    src: url('../../Assets/Fonts/Normal/Normal-Regular.ttf');
}

@font-face {
    font-family: NormalBold;
    src: url('../../Assets//Fonts/Normal/Normal-Bold.ttf');
}



.contact-form {
  
    border-radius: 1.5rem;
    height: 50rem;
    width: 40rem;
    background-color: white;
    box-shadow: var(--cardshadow);
    padding: 4rem;
    padding-top: 2rem;
   
    letter-spacing: 0px;
}


.contact-form h2 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: .5rem;
    text-align: left;
    color: black;
    font-family: NormalMed;
}

@media(max-width: 1200px) {
    .contact-form {
        width: 100%;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
        max-width: 40rem;
    }
    .contact-form h2 {
        font-size: 2rem;
    
    }
}
.contact-form p {
    color: rgb(116, 116, 116);
    font-size: 1rem;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 2rem;
    font-family: NormalMed;

}

.contact-feature {
 margin-bottom: 10px;
 background-color: #401892;
 /* background-color: #1FA9B4; */
 width: 13rem;
 border-radius: 5px;
 
}

.contact-feature p {
    margin: 8px;
    color: rgb(236, 236, 236);
    padding-bottom: 3px;
    padding-top: 3px;
    font-family: RippleBold;

}